body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: #555555;
}
header {
    background-image: url(./Bilder/IMG_20180213_215111147.jpg);
    width: 100%;
    height: 750px;
}
.table {
    border: 2px solid white;
    background-color: white;
    padding-right: 0,5px;        
  }
a:link{
    position: relative;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: #555555;
}
a:visited{
    position: relative;
    border-bottom: 2px solid #ffffff;
    padding-bottom: 6px;
    font-family: Arial, Helvetica, sans-serif;
    color: #555555
}
a:hover{
    position: relative;
    border-bottom: 2px solid #ffffff;
    padding-bottom: 6px;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
}
a:active{
    position: relative;
    border-bottom: 2px solid #ffffff;
    padding-bottom: 6px;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff
}
#aktuell{
    border-bottom: 2px solid #ffffff;
    padding-bottom: 6px;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
}
.table {
    float: left;
}
#center {
    width: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.flex-container{
    margin-top: 30px;
    width: 800px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;

}
.flex-container2{
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    gap: 100px}
.space{
width: 700px;
}
.flex-container3{
    width: 300px;
    margin: 50px;
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}
#Logo{
    margin: 50px;
    border-bottom: 0;
}
#Logo a{
    border-bottom: 0;
}
#name, #email{
    background-color: #777777;
    font-weight: bold;
    color: #ffffff;
    border: 0;
    width: 800px;
    height: 30px;
}
#message{
    display: flex;
    background-color: #777777;
    color: #ffffff;
    vertical-align: top;
    font-weight: bold;
    border: 0;
    width: 795px;
    height: 300px;  
}
.Message{
    display: flex;
    vertical-align: top;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
    
}
#senden{
    background-color: #777777;
    width: 58px;
    height: 30px;
    font-weight: bold;
    font-size: 80%;
    color: #ffffff;
    border: 0; 
    align-items: center;
}
input{
    vertical-align: top;
}
.main{
    width: 800px;
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    text-align: left;
}
main{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
}
.footer{
    width: 800px;
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    text-align: left;
}
footer {
    background-color: #eaeaea;
    height: 200px;
    display: flex;
    justify-content: center;
    color: #777777;
}
#footer a{
    border-bottom: 0;
}